{%extends "base.html"%}
{% block title %}changed{% endblock %}

<!--where we're putting unique content for each page-->
{% block content %} 
<!--where the main website is-->
<!--CHECK IF THE'VE TAKES THE TEST BY SEEING IF THERE'S ANYTHING IN THEIR DATABASE-->
<body>
    
{% if checked == 1 %}
<h2><a href="{{ url_for('eval_again') }}"> Get evalueated again!</a></h2>

{% else %}       
<h2><a href="{{ url_for('eval') }}"> Get evalueated here!</a></h2>

{%endif%}
   

<h2><a href="{{ url_for('results') }}"> Check your vitamins here!</a> </h2>





</body>
{% endblock %}

